/Data_Dictionary.xlsx
/address_state_counts_as_per_the_loan_status.png
/annual_income_counts_as_per_the_loan_status.png
/distribution_of_target_variable.png
/employment_length_counts_as_per_the_loan_status.png
/grade_counts_as_per_the_loan_status.png
/home_ownership_counts_as_per_the_loan_status.png
/lending_club_case_study.pptx
/loan.csv
/loan_amount_against_interest_rate_in_percentage.png